@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  background: linear-gradient(135deg, #100e2d, #120f39, #120f47, #110c59);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  color: #c09703ed;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-weight: 600; 
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

